<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style>
        body,
        html,
        #container {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=xywHafSa7GRidlIcLmWMXjDOFGRqHlCr"></script>
    <title>地图展示</title>
</head>
<body>
<div id="container"></div>

</body>
</html>

<script th:inline="javascript">
    var map = new BMapGL.Map('container');
    map.enableScrollWheelZoom(true);
    // 创建点标记
    var markerList = [[${posList}]];
    var markerLatList = [[${posLatList}]];
    var markerLngList = [[${posLngList}]];
    var markerSpeedList= [[${posSpeedList}]];

    var opts = {
        width : 100,     // 信息窗口宽度
        height: 50,     // 信息窗口高度
        enableMessage:true,//设置允许信息窗发送短息
        title: "info list"
    }


    console.log(markerList);
    // console.log(markerSpeedList)

    map.centerAndZoom(new BMapGL.Point(markerLatList[0], markerLngList[0]), 19);

    for (var i = 1; i < markerList.length; i++){
        var point = new BMapGL.Point(markerLatList[i], markerLngList[i]);
        var marker = new BMapGL.Marker(point);
        map.addOverlay(marker);
        var speed = markerSpeedList[i];
        console.log(speed);
        var infoWindow = new BMapGL.InfoWindow("speed： " + String(speed), opts);
        (function (inf, poi){
            marker.addEventListener("click", function(){
                map.openInfoWindow(inf,poi); //开启信息窗口
            });
        })(infoWindow,point)

        // map.centerAndZoom(new BMapGL.Point(markerLatList[i], markerLngList[i]), 20);
    }

</script>

